<div class="dropdown dropdown-start">
  <div tabindex="0" role="button" class="btn m-1">{"GET"}</div>
  <ul tabindex="0" class="dropdown-content menu rounded-box z-1 p-2 shadow-sm">
    <li><a>GET</a></li>
    <li><a>POST</a></li>
  </ul>
</div>
